@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"),
	url("/fonts/roboto.woff2") format("woff2"),
	url("/fonts/roboto.woff") format("woff");
}

:root {
	--basic-white: #FFFFFF;
	--basic-extra-light: #888888;
	--basic-dark: #EEEEEE;
	--basic-red: #FB565A;
	--basic-green: #00CA74;
	--basic-yellow: #EFC849;
	--basic-black: #000000;
	--basic-gray: #283136;

	--special-light-gray: #666666;
	--special: #444444;
}

body {
	min-width: 1440px;
	margin: 0;
	padding: 0;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: var(--basic-gray);
	background-color: var(--basic-white);
	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.main-navigation {
	display: grid;
	font-size: 16px;
	line-height: 30px;
	padding-top: 49px;
	background-color: var(--basic-dark);
}

.list {
	list-style: none;
}

.site-nav a,
.card a {
	color: var(--basic-black);
}

.site-nav a:hover,
.card a:hover {
	color: var(--basic-red);
}

.site-nav a:focus,
.card a:focus {
	mix-blend-mode: normal;
	opacity: 0.3;
}

.slider {
	background-color: var(--basic-dark);
}

.slider-item h2,
.page-title {
	color: var(--basic-black);
	font-size: 55px;
	line-height: 55px;
}

.slider-item-button {
	display: block;
	max-width: 240px;
	padding: 16px 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 3px;
	color: var(--basic-white);
	background-color: var(--basic-red);
}

.slider-item a:hover {
	background-color: #E74246;
}

.slider-item a:focus {
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	background-color: #D7373B;   
}

.services-item h3 {
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--basic-black);
}

.services-button {
	padding: 17px 39px 15px 40px;
	text-align: center;
	text-transform: uppercase;
	border: none;
	color: var(--basic-white);
	border-radius: 3px;
}

.services-button-red {
	background-color: var(--basic-red);

}

.services-button-red:hover {
	background-color: #E74246;
}

.services-button-red:focus {
	background-color: #D7373B;
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.services-button-green {
	background-color: var(--basic-green);
}

.services-button-green:hover {
	background-color: #00BC6C;
}

.services-button-green:focus {
	background-color: #00AA62;
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.services-button-yellow {
	background-color: var(--basic-yellow);
}

.services-button-yellow:hover {
	background-color: #EAB534;
}

.services-button-yellow:focus {
	background-color: #E5A722;
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.features h1 {
	font-size: 45px;
	line-height: 45px;
	color: var(--basic-black);
}

.features h3 {
	color: var(--basic-black);
}

.table-specifications th {
	font-size: 45px;
	line-height: 64px;
	color: var(--basic-black);
}

.table-specifications td {
	font-size: 16px;
	line-height: 18px;
}

.footer-contacts h3 {
	font-size: 18px;
	line-height: 30px;
	color: var(--basic-black);
}

.footer-contacts address, p {
	font-size: 16px;
	line-height: 18px;
	color: var(--special-light-gray);
}

.footer-contacts button {
	padding: 17px 44px 15px 44px;
	text-align: center;
	text-transform: uppercase;
	border: none;
	color: var(--basic-white);
	background-color: var(--basic-red);
	border-radius: 3px;
}

.footer-social h2 {
	font-size: 36px;
	line-height: 36px;
	color: var(--basic-black);
}

.footer-social p {
	font-size: 16px;
	line-height: 22px;
	color: var(--special);
}

.social-button a {
	color: inherit;
	background-color: #E1E1E1;
}

.modal h2 {
	font-size: 45px;
	line-height: 53px;
	color: var(--basic-black);
}

.modal p {
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-black);
}

.feedback-button {
	padding: 17px 44px 15px 44px;
	text-align: center;
	text-transform: uppercase;
	border: none;
	color: var(--basic-white);
	background-color: var(--basic-red);
	border-radius: 3px;
}

/*catalog*/

.filters legend,
.catalog h2 {
	font-size: 18px;
	line-height: 30px;
	color: var(--basic-black);
	text-transform: uppercase;
}

.filer-button {
	padding: 17px 88px 15px 89px;
	text-align: center;
	text-transform: uppercase;
	border: none;
	color: var(--basic-black);
	background-color: var(--basic-dark);
	border-radius: 3px;
}

.filer-button:hover {
	background-color: #DFDFDF;
}

.filer-button:focus {
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.catalog-sort a {
	color: var(--basic-black);
	text-transform: uppercase;
}

.catalog-item {
	background-color: var(--basic-dark);
}

.catalog-item h3 {
	font-size: 18px;
	line-height: 30px;
	color: var(--basic-black);
	text-transform: uppercase;
}

.catalog-item h3:hover {
	color: var(--basic-red);
}

.catalog-item p {
	font-size: 16px;
	line-height: 18px;
	color: var(--special-light-gray);
}

.button-price {
	display: block;
	max-width: 200px;
	padding: 16px 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 3px;
	color: var(--basic-white);
	background-color: var(--basic-red);
}

.button-price:hover {
	background-color: #E74246;
}

.button-price:focus {
	background-color: #D7373B;
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.pagination-item a {
	color: var(--basic-black);
	background-color: var(--basic-dark);
}

.pagination-item a:hover {
	background-color: #DFDFDF;
}

.pagination-item a:focus {
	background-color: #D5D5D5;
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* Grid */

.page {
	height: 100%;
}

.main-header-logo {
	justify-self: start;
}

.site-nav {
	margin: 0;
	padding: 0;
}

.main-navigation-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr min-content;
}

.slider {
	display: grid;
}

.lining {
	width: 1160px;
	margin: 0 auto;
	padding: 0 ;
}

.services {
	margin-bottom: 80px;
}

.services-item {
	text-align: left ;
}

.services-list {
	margin-top: 80px;
	margin-bottom: 80px;
	padding: 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 100px;
}

.features {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 80px;
	margin-bottom: 80px;
}

.clients-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 40px
}

.main-footer  {
	margin-top: 80px;
	margin-bottom: 80px;
	display: grid;
	grid-template-columns: 2fr 1fr;
}

/*catalog*/

.page-catalog {
	display: grid;
	grid-template-columns: 260px 1fr;
	align-content: start;
}

.page-title {
	grid-column: 1 / -1;
}

.catalog-sort {
	margin-bottom: 40px;
}

.catalog {
	margin-left: 140px;
}