@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"),
	url("/fonts/roboto.woff2") format("woff2"),
	url("/fonts/roboto.woff") format("woff");
}

:root {
	--basic-white: #FFFFFF;
	--basic-extra-light: #888888;
	--basic-dark: #EEEEEE;
	--basic-red: #FB565A;
	--basic-green: #00CA74;
	--basic-yellow: #EFC849;
	--basic-black: #000000;
	--basic-gray: #283136;

	--special-light-gray: #666666;
	--special: #444444;
}

body {
	min-width: 1440px;
	margin: 0;
	padding: 0;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: var(--basic-gray);
	background-color: var(--basic-white);
	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.list {
	list-style: none;
}

.visually-hidden{
	position: absolute;
	clip: rect(0, 0, 0, 0);
	width: 1px;
	height: 1px;
}

/*header - flex*/

.main-header {
	background-color: var(--basic-dark);
}

.main-navigation {
	font-size: 16px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: bold; 
	padding-top: 49px;
}

.main-header-logo {
	min-width: 160px;
	min-height: 66px;
}

.main-navigation-wrapper {
	display: flex;
	justify-content: space-between;
}

.site-nav {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

.cart-nav {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

.site-nav li {
	padding: 20px;
}

.cart-nav li {
	padding: 20px 0px 0px 20px;
}

.site-nav a,
.cart-nav a {
	color: var(--basic-black);
	display: block;
}

.site-nav a:hover,
.cart-nav a:hover {
	color: var(--basic-red);
}

.site-nav a:focus,
.cart-nav a:focus {
	color: var(--basic-black);
	opacity: 0.3;
}

.site-nav-link:active,
.cart-nav-link:active {
	color: #000;
	border-bottom: 2px solid #fb565a;      /*--- нижняя полоска на активной странице не остается, а исчезает после нажатия ---*/
}

.cart-nav-link::before {
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	top: 7px;
    left: 25px;
	background-image: url('../img/cart-icon.svg');
	background-repeat: no-repeat;
	background-position: 0 0;
}

.cart-nav .cart-nav-link {
  padding-left: 50px;
  position: relative;
}


/*slider*/

.slider {
	position: relative;
	background-color: var(--basic-dark);
}

.slider-controls {
	font-size: 0;
	position: absolute;
	z-index: 100;
	bottom: 104px;
	left: 50%;
	width: 160px;
	height: 18px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	text-align: center;
}

.slider-controls label{
	position: relative;
	display: inline-block;
	width: 18px;
	height: 18px;
	padding: 8px;
	cursor: pointer;
	vertical-align: top;
	border-radius: 50%;
}

.slider-controls label::after{
	position: absolute;
	z-index: 1;
	top: 8px;
	left: 8px;
	width: 18px;
	height: 18px;
	content: '';
	border-radius: 50%;
	background-color: var(--basic-white);
}

.slider-list {
	margin: 0;
	padding: 0;
}

.slider-item {
	display: none;
	padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
	background-image: url('../img/slide1.png');
	background-repeat: no-repeat;
	background-position: 100% 0;
}

.slider-item:nth-child(2) {
	background-image: url('../img/slide2.png');
	background-repeat: no-repeat;
	background-position: 100% 0;
}

.slider-item:nth-child(3) {
	background-image: url('../img/slide3.png');
	background-repeat: no-repeat;
	background-position: 100% 0;
}
#slide-one:checked ~ .slider-list .slider-item:nth-child(1){
	display: block;
}

#slide-two:checked ~ .slider-list .slider-item:nth-child(2){
	display: block;
}

#slide-three:checked ~ .slider-list .slider-item:nth-child(3){
	display: block;
}

#slide-one:checked ~ .slider-controls .slider-controls-item--1::before,
#slide-two:checked ~ .slider-controls .slider-controls-item--2::before,
#slide-three:checked ~ .slider-controls .slider-controls-item--3::before{
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	width: 4px;
	height: 4px;
	margin: -4px;
	content: '';
	border: 2px solid #c1c1c1;
	border-radius: 50%;
	background-color: inherit;
}

.slider-item h2 {
	font-size: 55px;
	line-height: 55px;
	margin: 0;
	margin-bottom: 25px;
	color: var(--basic-black);
}

.slider-item p {
	margin: 0;
	margin-bottom: 38px;
	color: var(--basic-gray);
	font-size: 16px;
	line-height: 24px;
}

.slider-item-button {
	font-size: 16px;
	line-height: 18px;
	display: block;
	max-width: 240px;
	padding: 17px 15px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--basic-white);
	border: none;
	border-radius: 3px;
	background-color: var(--basic-red);
}

.button:hover,
.button:focus {
	background-color: #e74246;
}

.button:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #d7373b;
	-webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

/*services - grid*/

.services-item h3 {
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--basic-black);
}

.services-item p {
font-size: 16px;
line-height: 24px;
color: var(--basic-gray);
}

.services-list {
	margin-top: 80px;
	margin-bottom: 80px;
	padding: 0;
	text-align: left ;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 100px;
}

.services-button {
	margin-top: 32px;
	padding: 17px 39px 15px 40px;
	text-align: center;
	text-transform: uppercase;
	border: none;
	color: var(--basic-white);
	border-radius: 3px;
}

.services-button-red {
	background-color: var(--basic-red);
}

.services-button-red:hover {
	background-color: #E74246;
}

.services-button-red:focus {
	background-color: #D7373B;
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.services-button-green {
	background-color: var(--basic-green);
}

.services-button-green:hover {
	background-color: #00BC6C;
}

.services-button-green:focus {
	background-color: #00AA62;
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.services-button-yellow {
	background-color: var(--basic-yellow);
}

.services-button-yellow:hover {
	background-color: #EAB534;
}

.services-button-yellow:focus {
	background-color: #E5A722;
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/*features - flex*/

.features {
	display: flex;
	padding-top: 50px;
	margin-bottom: 80px;
	border-top: 2px solid #eee;
}

.about-us {
	min-width: 760px;
}

.about-us h1 {
	font-size: 45px;
	line-height: 45px;
	color: var(--basic-black);
}

.about-us h3 {
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
}

.features-list {
	padding: 0;
}

.features-list p {
	text-transform: uppercase;
	font-style: normal;
	font-weight: bold;
	margin-top: 40px;
	color: #283136;
}

.features-item {
	padding-bottom: 25px;
	padding-left: 32px;
	position: relative;
}

.features-item:before {
	position: absolute;
	top: 10px;
	left: -3px;
	width: 25px;
	height: 2px;
	content: '';
	background-color: #fb565a;
}

.facts h3 {
	margin-top: 30px;
	font-weight: bold;
	color: var(--basic-black);
}

.table-specifications th {
	font-size: 45px;
	line-height: 64px;
	color: var(--basic-black);
}

.table-specifications td {
	font-size: 16px;
	line-height: 18px;
}

/*clients - flex*/

.clients {
	margin-bottom: 78px;
	padding-top: 60px;
	padding-bottom: 23px;
	border-top: 2px solid #eee;
	border-bottom: 2px solid #eee;
}

.clients-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	margin-right: 44px;
	margin-left: 30px;

}

.clients-item {
	position: relative;
	padding-top: 50px;
	padding-bottom: 20px;
}

.clients-item:after {
	position: absolute;
	top: -30px;
	right: -50px;
	bottom: 0;
	width: 2px;
	height: 52px;
	margin-top: auto;
	margin-bottom: auto;
	content: '';
	background-color: #eee;
}
.clients-item:last-child:after {
	width: 0;
	height: 0;
}

.clients-item img {
	opacity: 0.2;
}
.clients-item img:hover {
	opacity: 1;
}

/*footer - flex*/

.main-footer  {
	margin-top: 80px;
	margin-bottom: 80px;
	display: flex;
}
.footer-contacts {
	width: 100%;
}

.footer-contacts h3 {
	font-size: 18px;
	line-height: 30px;
	color: var(--basic-black);
}

.footer-contacts address, p {
	font-size: 16px;
	line-height: 18px;
	color: var(--special-light-gray);
}

.footer-contacts button {
	padding: 17px 44px 15px 44px;
	text-align: center;
	text-transform: uppercase;
	border: none;
	color: var(--basic-white);
	background-color: var(--basic-red);
	border-radius: 3px;
}

.footer-social h2 {
	font-size: 36px;
	line-height: 36px;
	color: var(--basic-black);
}

.footer-social p {
	font-size: 16px;
	line-height: 22px;
	color: var(--special);
}

.social-button li {
	margin-right: 10px;
}

.social-button a {
	position: relative;
	display: inline-block;
	width: 79px;
	height: 79px;
	vertical-align: top;
	border-radius: 50%;
	background-color: #e1e1e1;
}

.social-button {
	display: flex;
	width: 399px;
	margin: 0;
	padding: 0;
	flex-wrap: wrap;
}

.social-button a::after{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	content: '';
	background-repeat: no-repeat;
	background-position: 0 0;
}

.social-button-vk::after{
	width: 26px;
	height: 15px;
	background-image: url('../img/vk-icon.svg');
}

.social-button-fb::after{
	width: 12px;
	height: 22px;
	background-image: url('../img/fb-icon.svg');
}

.social-button-inst::after{
	width: 21px;
	height: 21px;
	background-image: url('../img/insta-icon.svg');
}

.social-button a:hover,
.social-button a:focus{
	background-color: #e74246;
}

.social-button a:active{
	background-color: #d7373b;
	-webkit-box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
	box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.social-button-vk:active::after,
.social-button-fb:active::after,
.social-button-inst:active::after{
	opacity: 0.3;
}


/*modal*/

.modal h2 {
	font-size: 45px;
	line-height: 53px;
	color: var(--basic-black);
}

.modal p {
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-black);
}

.feedback-button {
	padding: 17px 44px 15px 44px;
	text-align: center;
	text-transform: uppercase;
	border: none;
	color: var(--basic-white);
	background-color: var(--basic-red);
	border-radius: 3px;
}

/*catalog*/

/*page-catalog - grid*/

.page {
	height: 100%;
}

.page-catalog {
	display: grid;
	grid-template-columns: 260px 1fr;
	align-content: start;
}

.page-title {
	grid-column: 1 / -1;
	font-size: 55px;
	line-height: 55px;
	color: var(--basic-black);
	background-color: var(--basic-dark);
	text-align: center;
	margin-top: 0;
	padding-top: 87px;
	padding-bottom: 108px;

}

/*filters*/

.filters legend,
.catalog h2 {
	font-size: 18px;
	line-height: 30px;
	color: var(--basic-black);
	text-transform: uppercase;
}

.filer-button {
	padding: 17px 88px 15px 89px;
	text-align: center;
	text-transform: uppercase;
	border: none;
	color: var(--basic-black);
	background-color: var(--basic-dark);
	border-radius: 3px;
}

.filer-button:hover {
	background-color: #DFDFDF;
}

.filer-button:focus {
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.catalog-sort a {
	color: var(--basic-black);
	text-transform: uppercase;
}

.filters {
	min-width: 260px;
}

.filters fieldset {
	padding: 0;
	margin: 0;
	margin-bottom: 30px;
	border: none;
}

.filters legend {
	margin-bottom: 13px;
	font-size: 18px;
	line-height: 30px;
	color: var(--basic-black);
	text-transform: uppercase;
	font-weight: bold;
}

.filter ul {
	padding: 0;
	margin: 0;
	line-height: 19px;
}

/*catalog-item - flex*/

.catalog {
	margin-left: 140px;
}

.catalog-list  {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}

.catalog-item {
	width: 360px;
	min-height: 576px;
	margin-right: 40px;
	margin-bottom: 30px;
	background-color: var(--basic-dark);
}

.catalog-item:nth-child(2n) {
	margin-right: 0;
}

.catalog-item h3 {
	font-size: 18px;
	line-height: 30px;
	color: var(--basic-black);
	text-transform: uppercase;
	margin-top: 26px;
	text-align: center;
}

.catalog-item h3:hover {
	color: var(--basic-red);
}

.catalog-item p {
	font-size: 16px;
	line-height: 18px;
	color: var(--special-light-gray);
	text-align: center;
}

.catalog-item-image {
	max-width: 358px;
	max-height: 578px;
	margin: 0;
}

.button-price {
	display: block;
	max-width: 200px;
	padding: 16px 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 3px;
	color: var(--basic-white);
	background-color: var(--basic-red);
	margin-bottom: 44px;
	margin-left: 80px;
	margin-top: 32px;
}

.button-price:hover {
	background-color: #E74246;
}

.button-price:focus {
	background-color: #D7373B;
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/*pagination*/

.pagination-item a {
	color: var(--basic-black);
	background-color: var(--basic-dark);
}

.pagination-item a:hover {
	background-color: #DFDFDF;
}

.pagination-item a:focus {
	background-color: #D5D5D5;
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.lining {
	width: 1160px;
	margin: 0 auto;
	padding: 0 ;
}